* {
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 200;
  width: 100%;
  margin: 0;
}

.stacked {
  width: 100%;
  height: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
}

.stacked label {
  width: 100%;
}

.hidden {
  display: none;
}

input,
textarea,
select,
option,
button {
  min-height: 40px;
  width: 100%;
  padding: 10px;
  border-width: 0;
  border-radius: 10px;
  background: #dddddd;
  outline: none !important;
}

input,
textarea,
option {
  padding: 10px;
}
